In [ ]:
# Instalando a biblioetca Pandas
!pip install pandas

In [7]:
# Importando a biblioteca pandas
import pandas as pd

In [8]:
# Criando um dicio√°rio
Dicionario = {
    'A':[1,2,3],
    'B':[-3,-2,-1],
    'C':[0,10,20]
}
Label = ['1 Linha','2 Linha','3 Linha']
Dataframe_01 = pd.DataFrame(Dicionario,index=Label)
print(Dataframe_01)

         A  B   C
1 Linha  1 -3   0
2 Linha  2 -2  10
3 Linha  3 -1  20

In [9]:
# Exibindo as colunas A e B
Dataframe_01[['A','B']]

         A  B
1 Linha  1 -3
2 Linha  2 -2
3 Linha  3 -1

In [11]:
# Criando uma coluna nova no Dataframe
Dataframe_01['Nova coluna'] = Dataframe_01['A'] *Dataframe_01['B']
Dataframe_01 # Exibe o dataframe

         A  B   C  Nova coluna
1 Linha  1 -3   0           -3
2 Linha  2 -2  10           -4
3 Linha  3 -1  20           -3

In [ ]:
#Exibindo valores na saida da celula do notebook
a =6
print(a)
Dataframe_01

6

         A  B   C  Nova coluna
1 Linha  1 -3   0           -3
2 Linha  2 -2  10           -4
3 Linha  3 -1  20           -3